/* .containerEducation{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 1rem;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 50%;
    background-color: #613528;
}

.educationImg{
    background-color: #f56438;
    margin-top: 0.5rem;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.educationImg img{
    width: 40px;
    height: 40px;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.items h4{
    color: #f56438;
    margin-top: 0.3rem;
}



.items h2 {
    margin-top: 0.7rem;
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
}

.items p {
    font-size: 1rem;
    font-weight: 600;
    color: #c9bebd;
} */