.Screen{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    top: 0;
    left: 0;
}

.Menu-popup{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #202120;
    justify-content: space-between;
    align-items: end;
    max-width: 18vw;
    height: 100%;
    padding: 2rem;
    border-top-right-radius: 1.8rem;
    border-bottom-right-radius: 1.8rem;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    transform: translateX(0);
    opacity: 1; 
    animation: slideIn 0.8s forwards;
}
.Menu-popup.visible {
    transform: translateX(100%);
}

.menu-table{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    opacity: 1; 
    animation: visible 0.4s forwards;
}

.menu-table.hidden {
    transform: translateX(-100%);
    opacity: 0;
}

.Menu-popup.hidden {
    transform: translateX(-100%);
    opacity: 0;
}

@keyframes slideIn {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.cut{
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
    color: #f56539;
    cursor: pointer;
}

.menu-btn{
    color: #f56539;
    border: 2px solid;
    margin: 2rem auto;
    margin-bottom: 0;
    display: flex;
    justify-content:space-around;
    /* gap: 1rem; */
    padding: 1rem 1.2rem;
    /* padding-right: 1rem; */
    transition: background-color 0.2s, color 0.2s;
    /* align-items: center; */
    border-color: #f56539;
    border-radius: 45px;
    width:0;
    animation: width 2s forwards;
    transition: background-color 0.2s, color 0.2s ease-in-out;
}

/* .menu-btn::before{
    content: "Menu";
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 1rem;
} */

.menu-btn:hover{
    background-color: #f56539;
    color: #202120;
    cursor: pointer;
}

@keyframes width {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}


.menu-btn svg {
    width:fit-content;
    height:1.6rem;
    padding: 0rem;
    margin: 0rem;
}